html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
    background: #eee;
}

.App {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.editor {
  padding: 60px 100px;

}

/* Context Menu */
.context-menu {
  width: auto;
  margin: 0px;
  padding: 0px;
}

.context-menu.item {
  padding: 0px;
}

.context-menu-item {
  margin: 0;
  display: block;
  height: 60px;
  padding: 20px 25px;
  background: #fff;
  transition-duration: 0.25s;
}

.context-menu-item:hover {
  background: #3EB8FF;
  color: #fff;
}
